# Virtual environment
.venv/
venv/
env/

# Data files
data/*
!.gitkeep

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS system files
.DS_Store